<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="HandheldFriendly" content="true"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Pixi" />
    <title>MVVM</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        @font-face {
            font-family: 'GrilledCheeseBTNToasted';
            src: local('GrilledCheeseBTNToasted'), url('/Ruban/assets/fonts/GrilledCheeseBTNToasted.woff') format('woff');
            font-style: normal;
            font-weight: normal;
        }
    </style>
</head>
<body>
    <input type="text" onchange="changeVal(this)">
    <div id="vue">
        123123
        <div >1</div>
        <div >2</div>
        <div >3</div>
    </div>
</body>
</html>